<strong>Olá {{ student }}</strong>
<p>Você foi matriculado na GymPoint</p>
<p>
  <strong>Seus treinos começam dia:</strong>{{ date }}<br />
  <strong>E o valor total para o(s) {{ months }} mes(es) é:</strong>R${{ value }}<br />
  <br />
  <small>
    O horário está novamente disponível para novos agendamentos.
  </small>
</p>